<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    </head>
        <style>
            body {
                text-align: center;
            }
        </style>
    </head>
    <body>
    <br><br>
      <h1>Cost</h1>
      <br>
	  <p>Package Weight: <%= weight %> lb(s)
	  <br>Package Type: <%= type %></p>
	  <h2>Price of your package: $<%= price %></h2>        
    </body>
</html>


